body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.hoofd-div{
    width: 500px;
    height: 600px;
}

.login-div{
    height: 300px;
    text-align: center;
    
    border: 2px solid black;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    margin-bottom: 15px;
}

input{
 display: block;
 margin-bottom: 10px;
 margin-left: 160px;
 border: 2px solid black;
 border-radius: 4px;
 padding: 6px 15px;
 
}

.login-button{
    background-color: green;
    color: white;
    font-size: 15px;
    border-style: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
    
}

.active {
    display: block;
}


.account-form{
    text-align: center;
    border-radius: 4px;
    border: 2px solid black;
    padding-bottom: 50px;
    box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.5);
}

.aanmaken-button{
    background-color: green;
    color: white;
    font-size: 15px;
    border-style: none;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.rol-kiezen{
    width: 100px;
    display: block;
    margin-left: 200px;
    margin-bottom: 5px;
}